.smallCheckBox03_1 {
    width: 350px;
    height: 60px;
    margin: 75px 39px 24px 37px;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
